:root {
    --background-color: #fff;
    --text-color: #000;
    --card-background-color: #fff;
    --card-text-color: #000;
    --cyber-link-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}



button {
    background-color: #222;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

button:hover {
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.project-card {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    transition: 0.3s;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.project-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h3 {
    margin: 10px 0;
}

.project-card p {
    margin: 0;
}

.project-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

main ul li a {
    color: var(--cyber-link-color);
    text-decoration: none;
}

main ul li a:hover {
    color: #007bff;
    text-decoration: underline;
}

main ul ul {
    list-style-type: disc;
    padding-left: 20px;
}

.dark-theme {
    --background-color: #333;
    --text-color: #fff;
    --card-background-color: #444;
    --card-text-color: #ddd;
    --cyber-link-color: #ddd;
}

.dark-theme body {
    background-color: var(--background-color);
    color: var(--text-color);
}