:root {
    --background-color: linear-gradient(170deg, #100f2f, #221f70, #1d2c75);
    --text-color: #fff;
    --black-text-color: #000;
    --anim: cubic-bezier(0.75, 0, 0.36, 0.9)
}

* {
    color-scheme: dark;
}

body {
    background-image: var(--background-color);
    background-size: cover;
    color: var(--text-color);
    font-family: Inter, sans-serif;
}

h1,p,h2 {
    text-align: center;
}

h2 {
    font-size: 40px;
}

span, mark {
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    color: var(--text-color);
}

div {
    display: block;
    unicode-bidi: isolate;
}

footer {
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.header-bar {
    width: 10px;
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.header-bar img {
    padding: 5px 10px;
    width: 50px;
    border-radius: 20%;
}

.line {
    margin: 40px 0;
    border-bottom: 1px #fff solid;
    opacity: 0.1;
}

.header .line {
    margin: 0 0 40px 0;
}

.projects-container {
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--black-text-color);
    padding: 0 40px 0 40px;
    border-radius: 20px;
}

.projects-container {
    width: unset;
    position: relative;
    touch-action: none;
}

.projects-header h1,
.projects-header p {
    text-align: left;
    font-weight: 600;
}

.projects-header h1 {
    font-size: 30px;
}

.projects-header p {
    font-size: 14px;
}

.projects {
    margin-top: 13px;
    margin-bottom: 25px;
    overflow: auto;
    color-scheme: auto;
    position: relative;
    z-index: 2;
}

.projects {
    width: 100%;
    display: grid;
    align-items: start;
    grid-auto-flow: column;
    grid-gap: 30px;
    justify-items: center;
    justify-content: start;
    transition: 0.2s ease-in-out all;
}

.project {
    position: relative;
    padding-top: 23px;
    padding-bottom: 10px;
}

.project-card {
    width: 190px !important;
    margin-top: 4px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-stop: auto;
    flex-shrink: 0;
    z-index: 4;
    height: 300px;
}

.project:hover {
    transform: translateY(-5px);
    transition: all 0.5s var(--anim);
}

.project-img {
    margin-top: -23px;
    transition: 0.2s ease-in-out transform;
}

.project-img img {
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.project-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

.project-description {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    width: 90%;
    padding: 18px 15px 20px 15px;
}

.copyright p {
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
}